{# squelette base...... #}
{% extends "base.html.twig" %}

{# def. du titre #}
{% block title %}Modification d'une publication{% endblock %}

{# remplissage du body de la page #}
{% block body %}

    {# grille bootstrap #}
    <div class="container-fluid">

        {# titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">Modification d'une publication</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                {# lien pour revenir sur la fiche de l'article #}
                <a href="{{ path('blog_publication_view', {slug: edit_form.vars.value.slug}) }}" class="text-decoration-none">Revenir sur l'article</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                {{ form(edit_form) }}
            </div>
        </div>

    </div>
{% endblock %}
