{# on créé une variable twig 'route'qui contiendra le nom de la route  #}
{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {# affichage du titre de la page venant de la vue via le block "title" suivi du nom du site  collé a coté #}
     <title>{% block title %}{% endblock %} - {{ site_name }}</title>

    {# block pour permettre aux pages de rajouter individuellement des fichiers css additionnels #}
    {% block css %}{% endblock %}
</head>
<body>

    {# inclusion du menu principal du site #}
    {% include 'partials/_main_navbar.html.twig' %}

    {# inclusion de l'affichage des mess. flash de type succes et error #}
    {% include 'partials/_flashes.html.twig' %}



    {# inclusion du contenu des pages (via le block body) #}
    {% block body %}{% endblock %}

    {# inclusion du fichier js bootstrap #}
    <script src="{{asset('js/bootstrap.bundle.min.js') }}"></script>
    {# block permet aux pages de rajouter des fichiers js additionnels #}
    {% block js %}{% endblock %}
</body>
</html>
