{# squelette base...... #}
{% extends "base.html.twig" %}

{# def. du titre #}
{% block title %}Erreur{{ status_code }} - {{ status_text }}{% endblock %}

{# remplissage du body de la page #}
{% block body %}

    {# grille bootstrap #}
    <div class="container-fluid">


        <div class="row">
            <div class="col-12 ">
                <h1 class="text-center my-5">Erreur{{ status_code }} - {{ status_text }}</h1>
            </div>
        </div>

    </div>
{% endblock %}
